{% import "@AdminLTE/Macros/default.html.twig" as macro %}
<li class="nav-item dropdown messages-menu">
    <a href="#" class="nav-link" data-toggle="dropdown">
        <i class="far fa-envelope"></i>
        <span class="badge badge-success navbar-badge">{{ total }}</span>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">{{ 'You have %count% messages'|trans({'%count%':total}, 'AdminLTEBundle') }}</span>
        {% for msg in messages %}
            <div class="dropdown-divider"></div>
            <a href="{{ path('adminlte_message'|route_alias, {'id': msg.identifier}) }}" class="dropdown-item">
                <div class="media">
                    {{ macro.avatar(msg.from.avatar, msg.from.username, 'img-size-50 mr-3 img-circle') }}
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            {{ msg.from.name }}
                            {#<span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>#}
                        </h3>
                        <p class="text-sm">{{ msg.subject }}</p>
                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> {{ msg.sentAt|date('d.m.Y H:i') }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
        <div class="dropdown-divider"></div>
        <a href="{{ path('adminlte_messages'|route_alias) }}" class="dropdown-item dropdown-footer">{{'View all'|trans({}, 'AdminLTEBundle')}}</a>
    </div>    
</li>
