{% extends 'bootstrap_3_layout.html.twig' %}

{#
    ATTENTION:
    when changing anything in this file, check if the changes need to be applied to form-theme-horizontal.html.twig as well
#}

{% block form_errors %}
    {% apply spaceless %}
        {% if errors|length > 0 %}
            <ul class="list-unstyled">
                {% for error in errors %}
                    <li class="text-danger">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endapply %}
{% endblock form_errors %}

{% block widget_attributes %}
    {% set types = form.vars.block_prefixes %}
     {% set _class = '' %}
    {% if 'checkbox' in types %}
        {% set _class = ' checkbox' %}
    {% elseif 'radio' in types%}
        {% set _class = ' radio' %}
    {% endif%}
    {# % else %}
        {% set _class = ' form-control' %}
    {% endif %#}

    {% if attr.class is defined %}
        {% set class = attr.class ~ _class %}
    {% else %}
        {% set class = _class %}
    {% endif %}
    {% if 'checkbox' not in types and 'form-control' not in class  %}
        {%  set class = class ~ ' form-control' %}
    {% endif %}
    {% set attr = attr|merge({'class' : class}) %}
    {{ parent () }}
{% endblock widget_attributes %}

{% block choice_widget_expanded %}
    {% apply spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
        </div>
    {% endapply %}
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
    {% for att, val in attr %}
        {% if att == 'class' %}
            {% set att = val ~ ' form-control' %}
        {% endif %}
    {% endfor %}

    {{ parent() }}
{% endblock %}

{% block checkbox_widget %}
    <div class="checkbox">
        {% apply spaceless %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is not same as(false) and label is empty %}
                {% set label = name|humanize %}
            {% endif %}

            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {% if label is not same as(false) %}
                {{ label|trans({}, translation_domain) }}
            {% endif %}
            </label>
        {% endapply %}
    </div>
{% endblock checkbox_widget %}

{% block radio_widget %}
    <div class="radio">
        {% apply spaceless %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is not same as(false) and label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {% if label is not same as(false) %}
                {{ label|trans({}, translation_domain) }}
            {% endif %}
            </label>
        {% endapply %}
    </div>
{% endblock radio_widget %}

{% block date_widget %}
    {% if widget == 'single_text' %}
        <div class="input-group">
            <div class="input-group-addon">
                <i class="far fa-calendar-alt"></i>
            </div>

            {% if type is not defined or type != 'date' %}
                {% if attr.class is defined %}
                    {% set class = attr.class ~ ' timepicker' %}
                {% else %}
                    {% set class = ' timepicker' %}
                {% endif %}
                {% set attr = attr|merge({'class' : class, 'data-datepickerenable':'on'}) %}
            {% endif %}

            {{ block('form_widget_simple') }}
        </div>
    {% else %}
        {% set date_pattern = '<div class="row">' ~ date_pattern ~ '</div>'|raw %}
        {{ date_pattern|replace({
        '{{ year }}' : '<div class="col-xs-4">{{ year }}</div>',
        '{{ month }}' : '<div class="col-xs-4">{{ month }}</div>',
        '{{ day }}' : '<div class="col-xs-4">{{ day }}</div>',
        })|raw|replace({
        '{{ year }}':  form_widget(form.year),
        '{{ month }}': form_widget(form.month),
        '{{ day }}':   form_widget(form.day),
        })|raw }}

    {% endif %}
{% endblock %}

{% block time_widget %}
    {% if widget == 'single_text' %}
        <div class="bootstrap-timepicker">
            <div class="input-group">
                <div class="input-group-addon add-on">
                    <i class="far fa-clock"></i>
                </div>
                {% if type is not defined or type != 'time' %}
                    {% if attr.class is defined %}
                        {% set class = attr.class ~ ' timepicker' %}
                    {% else %}
                        {% set class = ' timepicker' %}
                    {% endif %}
                    {% set attr = attr|merge({'class' : class, 'data-timepicker':'on'}) %}
                {% endif %}
                {{ block('form_widget_simple') }}
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block datetime_widget -%}
    {%- if widget == 'single_text' -%}
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-calendar-alt"></i>
            </div>
            {{- parent() -}}
        </div>
    {%- else -%}
        {{- parent() -}}
    {%- endif -%}
{%- endblock datetime_widget %}

{% block tel_widget -%}
    <div class="input-group">
        <div class="input-group-addon">
            {% set icon = 'phone' %}
            {% if 'icon' in attr|keys %}
                {% set icon = attr.icon %}
            {% endif %}
            <i class="fas fa-{{ icon }}"></i>
        </div>
        {{- parent() -}}
    </div>
{%- endblock tel_widget %}

{% block url_widget -%}
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fas fa-home"></i>
        </div>
        {{- parent() -}}
    </div>
{%- endblock url_widget %}
