{% if block('box_before') is defined %}{{ block('box_before') }}{% endif %}
<div class="info-box{% if solid is defined %} bg-{{ solid }}{% endif %}">
    <span class="info-box-icon{% if color is defined %} bg-{{ color }}{% endif %}"><i class="{{ icon|default('info-circle') }}"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">
            {{ block('box_text') }}
        </span>
        {% if block('box_number') is defined %}
            <span class="info-box-number">
                {{ block('box_number') }}
            </span>
        {% endif %}
        {% if progress is defined %}
        <div class="progress">
            <div class="progress-bar" style="width: {{ progress }}%"></div>
        </div>
        {% endif %}
        {% if progress|default(block('progress_description'))|length > 0 %}
            <span class="progress-description">
              {{ block('progress_description') }}
            </span>
        {% endif %}
    </div>
</div>
{% if block('box_after') is defined %}{{ block('box_after') }}{% endif %}
